
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: fantasy;
    line-height: 1.6;
    color: #333;
    background-color: #f8f9fa;
}

header {
    background-color: #176145;
    color: white;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo h1 {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero {
    background-color: #59ad83;
    color: white;
    text-align: center;
    padding: 80px 0;
}

.hero-content h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.cta-button {
    background: #176145;
;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}

.cta-button:hover {
    background: #13513a;
}

.features {
    padding: 4rem 0;
    background: white;
}

.features h3 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: #1a4734;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.feature-card {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
    border: 1px solid #eee;
}

.feature-card h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #4b916e;
}

.feature-card p {
    margin-bottom: 1.5rem;
    color: #144834;
}

.feature-card a {
    color: #24483d;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #176145;
    padding: 8px 20px;
    border-radius: 20px;
}

.feature-card a:hover {
    background: #176145;
    color: white;
}

.fact-generator {
    padding: 4rem 0;
}

.generate-btn {
    background: #176145;
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 1rem;
    border-radius: 25px;
    cursor: pointer;
}

.generator-card {
    padding: 3rem;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    text-align: center;
    margin-bottom: 3rem;
    border: 1px solid #eee;
}

.fact-text {
    font-size: 1.3rem;
    line-height: 1.8;
    color: #333;
    margin-bottom: 1rem;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.hero-image, .feature-image, .content-image {
    max-width: 100%;
    height: 270;
    border-radius: 30px;
    margin-bottom: 1rem;
}